/* --- CONTENEUR PRINCIPAL --- */
:host {
    display: block;
    width: 100%;
    height: 100%;
}
.main-container {
    display: flex;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #1444A1;
}

/* --- IMAGE FLOTTANTE --- */
.floating-illustration {
    position: absolute;
    bottom: 20px;
    left: 26%;
    transform: translateX(-50%);
    height: 65vh;
    width: auto;
    z-index: 10;
    object-fit: contain;
}

/* --- PANNEAU GAUCHE (BLEU) --- */
.left-panel {
    width: 35%;
    height: 100%;
    padding: 80px 60px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.left-panel h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 20px;
    margin-top: 15px;
}

/* --- PANNEAU DROITE (BLANC) --- */
.right-panel {
    width: 65%;
    height: 100%;
    background-color: #FFFFFF;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding-left: 10%; 
    padding-right: 5%;
    position: relative;
    z-index: 5;
}

/* Conteneur interne du formulaire */
.form-wrapper {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.right-panel h2 {
    font-size: 28px;
    font-weight: 800;
    color: #0C0808;
    margin-bottom: 30px;
}

/* --- BOUTONS SOCIAUX (LARGEUR 100%) --- */
.social-buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 35px;
    width: 100%;
}

/* --- .social-btn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 40px;
    padding: 0 15px;
    border: none;
    border-radius: 8px;
    background-color: #F5F5F5;
    color: #555;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s ease;
}

.social-btn:hover {
    background-color: #E0E0E0;
}

.social-btn img {
    position: absolute;
    left: 20px;
    width: 30px;
    height: auto;
}--- */

/* --- CHAMPS INPUT (LARGEUR 85%)
.input-group {
    margin-bottom: 25px;
    position: relative;
    
    width: 80%; 
}

.input-group input {
    width: 100%;
    padding: 12px 0;
    padding-right: 30px;
    
    border: none;
    border-bottom: 1px solid #E0E0E0;
    background: transparent;
    outline: none;
    font-size: 15px;
    color: #0C0808;
    font-weight: 500;
    transition: border-color 0.3s;
}

.input-group input::placeholder {
    color: #A0A0A0;
    font-weight: 400;
}

.input-group input:focus {
    border-bottom-color: #1444A1;
}

/* --- ICÔNE OEIL ---
.password-group .toggle-password {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #A0A0A0;
    cursor: pointer;
    font-size: 14px;
} */

/* Nouvelle classe pour espacer les composants Input */
.field-spacing {
    display: block;
    margin-bottom: 25px;
    width: 80%; /* La largeur est décidée ici par le parent */
}

/* --- BOUTON SUBMIT (LARGEUR 85%) --- */
.submit-btn {
    width: 80%; 
    
    height: 35px;
    margin-top: 20px;
    
    background-color: #1444A1;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(20, 68, 161, 0.25);
    transition: transform 0.2s;
}

.submit-btn:hover {
    transform: translateY(-2px);
}

/* --- FOOTER --- */
.footer-text {
    margin-top: 30px;
    font-size: 14px;
    color: #888;
    width: 85%;
}

.footer-text a {
    color: #888;
    text-decoration: none;
    font-weight: bold;
}

/* =========================================
   ÉCRANS Tablette (max-width: 1024px)
========================================= */
@media (max-width: 1024px) {
    
    .main-container {
        height: 100vh;
        overflow-y: auto; 
    }

    .left-panel {
        padding: 60px 30px;
        width: 40%;
    }

    .right-panel {
        width: 60%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .right-panel h2 {
        text-align: center;
    }
    
    .floating-illustration {
        left: 25%;
        height: 50vh;
    }

    .social-buttons {
        flex-direction: column; 
        gap: 15px;
    }
    
    /* .social-btn {
        width: 100%; 
        justify-content: center;
    }

    .social-btn img {
        position: static;
        margin-right: 15px;
        width: 20px;
        display: block; 
        left: auto;
    }
    
    .input-group, .submit-btn {
        width: 100%;
    }
    
    .password-group .toggle-password {
        right: 0;
    }*/
    .field-spacing {
        width: 100%;
    }
}

/* =========================================
   ÉCRANS MOBILE (max-width: 992px)
========================================= */
@media (max-width: 992px) {

    .main-container {
        flex-direction: column;
        height: auto;
        min-height: 100vh;
    }

    /* Le panneau Bleu devient un Header en haut */
    .left-panel {
        width: 100%;
        height: auto;
        min-height: 250px;
        padding: 40px 30px;
        align-items: center;
        text-align: center;
    }

    .left-panel h1 {
        font-size: 28px;
        margin-top: 0;
        z-index: 20;
    }

    /* 2. L'image flottante */
    .floating-illustration {
        height: 200px;
        left: 50%;
        bottom: auto;
        top: 120px;
        transform: translateX(-50%);
        z-index: 10;
    }

    /* Le panneau Blanc prend le reste */
    .right-panel {
        width: 100%;
        height: auto;
        flex: 1;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0;
        padding: 40px 30px;
        justify-content: flex-start;
    }

    .form-wrapper {
        max-width: 100%;
        margin-top: 20px;
    }

    .right-panel h2 {
        margin-top: 15px;
        font-size: 24px;
        text-align: center;
    }

    /* Inputs et boutons en pleine largeur pour le doigt
    .input-group, .submit-btn, .footer-text {
        width: 100%;
    } */

    /* Ajustement responsive des boutons sociaux pour qu'ils ne s'écrasent pas
    .social-buttons {
        flex-direction: column;
        gap: 10px;
    }
    
    .social-btn {
        width: 100%;
    } */
}
/* ============================================================
   2. IPAD PRO & PETITS LAPTOPS (993px -> 1200px)
   ============================================================ */
   @media (min-width: 993px) and (max-width: 1200px) {
    
    .left-panel {
        width: 50%;
        padding: 60px 30px;
    }
    
    .left-panel h1 {
        font-size: 24px;
    }

    .right-panel {
        width: 50%;
        padding-left: 3%;
        padding-right: 3%;
    }

    .floating-illustration {
        height: 400px;
        left: 25%; 
    }
    
    /* .social-buttons { 
        flex-direction: column;
        gap: 10px; }

    .social-btn { 
        width: 100%;
        height: 50px;
     }
    .social-btn img { position: static; margin-right: 10px; }
    
    .input-group input {
        font-size: 14px;
    } */
}

/* =========================================
   ÉCRANS GÉANTS & 4K (min-width: 2000px)
========================================= */
@media (min-width: 2000px) {
    
    .form-wrapper {
        max-width: 1400px; 
    }

    .left-panel {
        padding: 150px 100px;
    }
    
    .left-panel h1 {
        font-size: 80px;
        margin-bottom: 50px;
    }

    .right-panel h2 {
        font-size: 60px;
        margin-bottom: 60px;
    }

    /*.input-group {
        margin-bottom: 50px;
    }

    .input-group input {
        padding: 25px 0;
        font-size: 35px;
        border-bottom-width: 2px;
    }
    
    .input-group input::placeholder {
        font-size: 35px;
    }*/

    .field-spacing {
        margin-bottom: 50px;
    }

    .submit-btn {
        height: 100px;
        font-size: 35px;
        margin-top: 40px;
        border-radius: 20px;
    }

    .social-buttons {
        gap: 40px;
        margin-bottom: 60px;
    }

    /* .social-btn {
        height: 90px;
        font-size: 28px;
        border-radius: 15px;
        padding: 0 40px;
    }

    .social-btn img {
        width: 50px;
        left: 40px;
    }

    .password-group .toggle-password {
        font-size: 30px;
        right: 10px;
    } */

    .footer-text {
        font-size: 30px;
        margin-top: 50px;
    }

    .floating-illustration {
        left: 25%;
        height: 60vh;
    }
}

/* ============================================================
   FIX SPÉCIAL : IPAD PRO & ÉCRANS HAUTS
   Largeur Desktop (1025-1400) MAIS Hauteur Tablette (> 900px)
   ============================================================ */
   @media (min-width: 1025px) and (max-width: 1400px) and (min-height: 900px) {
    
    .floating-illustration {
        height: 45vh;
        left: 18%;
        bottom: 20px;
    }

    .left-panel {
        padding-right: 20px; 
    }
}