/* --- RESET & GLOBAL --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

body {
    background-color: #1444A1;
}

app-root {
    display: block;
    width: 100%;
    height: 100%;
}

@media (max-width: 1024px) {
    body, html, app-root {
        height: 100vh;
        overflow-y: auto; 
    }
}